.block {
    display: block;
}
.flex {
    display: flex;
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.flex-column {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}

.margin-top-20 {
    margin-top: 20rpx;
}
.margin-top-40 {
    margin-top: 40rpx;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}

.padding-bottom-60 {
    padding-bottom: 60px;
}

.width100 {
    width: 100%;
}

.font-18 {
    font-size: 18px;
}

.col-007AFF {
    color: #007AFF;
}